html,
body {
  height: 100%;
  background-color: black;
}
.cover-heading{
  color: black;
  text-shadow: none;
}

/* Custom default button */
.btn-secondary {
  color: #2809e9b8;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: black;
  border: none;
}
.btn-secondary:hover {
  color: lightgrey;
  background-color: black;
  border: none;
}